.venv/
**/__pycache__/
**/migrations/
.env
pawnshop-archive/
pawnshop-archive.zip
project_backup.tar
CLAUDE.md
GEMINI.md
.claude/
.cache/
staticfiles/
media/
db.sqlite3
logs/
media/
**.ppk
data.json
db.sqlite3
clean_data.json
